.box1 {
  position: static;
  background-color: lightgray;
 }
 
 .box2 {
  position: relative;
  top: 20px;
  left: 40px;
  background-color: lightblue;
 }
 
 .box3 {
  position: absolute;
  top: 10px;
  right: 30px;
  background-color: lightcoral;
 }
 
 