.container {
  display: flex;
  gap: 10px;
  border: 2px solid black;
  padding: 10px;
}

.item {
  background: lightblue;
  padding: 20px;
  text-align: center;
  font-size: 20px;
  border-radius: 8px;
}

/* The difference is here */
.item1 { flex-grow: 1; }
.item2 { flex-grow: 2; }
.item3 { flex-grow: 1; }
