.container {
  display: flex;
  flex-direction: row;
}

.box {
  width: 80px;
  height: 80px;
  background-color: red;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Arial, sans-serif;
  margin: 10px;
  padding: 10px;
}

