.nav {
  list-style-type: none;
  background-color: #1e3a8a;
  padding: 0;
  margin: 0;
  text-align: center;
 }
 .nav li {
  display: inline-block;
  margin: 0 20px;
 }
 .nav a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  padding: 14px;
 }
 .nav a:hover {
  background-color: #2563eb;
  border-radius: 6px;
 }
 
 
 