body {
  font-family: Arial, Helvetica, sans-serif;
}

.banner {
  background-color: lightblue;
  width: 80%;
  height: 120px;
  margin: auto;
  text-align: center;
  line-height: 120px; /* centers text vertically */
  border-radius: 10px;
}

