/* Make the title blue */
h1 {
  color: blue;
}

/* Paragraph in a HEX color of my choice */
p {
  color: #e63946;
}

body {
  background-color: lightyellow;
}
section {
  background-image: url("pattern.png");
  background-repeat: no-repeat;
  background-size: cover;
}


