body {
    background-color: #fafafa;
    font-family: Arial, sans-serif;
    text-align: center;
  }
   h1 {
    color: darkblue;
    background-color: lightyellow;
    padding: 10px;
    border-radius: 8px;
  }
   p {
    color: #444;
    font-size: 18px;
  }
   img {
    width: 200px;
    border: 2px solid black;
    border-radius: 10px;
  }
  
 