table {
  border-collapse: collapse;
  width: 60%;
  margin: auto;
}
 th, td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: center;
}
 th {
  background-color: #f3f4f6;
  color: #1e3a8a;
}

