.container {
  display: flex;
  justify-content: baseline;
}

.box {
  width: 80px;
  height: 80px;
  color: red;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Arial, sans-serif;
}

